:root {
  --color: #24BAA0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1056px;
  margin: 0 auto;
  padding: 40px 0;
  height: inherit;
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: 800px;
  }
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 45px;
  margin-left: 30px;
  margin-right: 30px;
}

@media screen and (max-width: 850px) {
  .section-title {
    margin: 0 auto 30px auto;
    text-align: center;
  }
}

.section-title:after {
  content: '';
  height: 7px;
  width: 325px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color);
}

@media screen and (max-width: 850px) {
  .section-title:after {
    height: 4px;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.section-double-header {
  display: flex;
  justify-content: space-between;
}

.section-double-title {
  width: 50%;
  position: relative;
}

@media screen and (max-width: 850px) {
  .section-double-title {
    width: 100%;
  }
}

.section-double-title-right {
  text-align: right;
}

/* hide right title on mobile -> display mobile title instead */
@media screen and (max-width: 850px) {
  .section-double-title-right {
    display: none;
  }
}

.section-double-title-right:after {
  content: '';
  height: 7px;
  width: 325px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: initial;
  background-color: var(--color);
}

.section-mobile-title {
  display: none;
}

@media screen and (max-width: 850px) {
  .section-mobile-title {
    display: block;
  }
}

.col-1-3 {
  width: 33.3333%;
  float: left;
  padding: 15px;
}

@media screen and (max-width: 850px) {
  .col-1-3 {
    width: 100%;
  }
}

body {
  font-family: 'Raleway', sans-serif;
}

/* HEADER */

.page-header {
  height: 40px;
  background: #000;
  z-index: 100;
  position: relative;
}

.page-header .container {
  padding: 0;
}

.page-logo {
  display: inline-block;
  margin-left: 30px;
}

.page-logo-link {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  line-height: 40px;
}

.page-logo-link span {
  color: var(--color);
}

.page-navigation-toggle {
  display: none;
}

@media screen and (max-width: 850px) {
  .page-navigation-toggle {
    display: block;
    height: 40px;
    width: 40px;
  }
}

.page-nav {
  float: right;
}

.page-nav-list-el {
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 850px) {
  .page-nav-list {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
  }

  .page-nav-list-el {
    display: block;
    background: hsla(0, 0%, 0%, 0.6);
    border: 1px solid black;
  }
}

.page-nav-list-link {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  line-height: 40px;
  padding: 0 20px;
}

.page-nav-list-link:hover {
  color: var(--color);
}

.page-nav-sublist {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s opacity;
  background: #000;
  position: absolute;
  min-width: 120px;
  top: calc(100% + 10px);
  left: 50%;
  transform: translate(-50%, 0);
  padding: 15px;
}

.page-nav-list-el:hover .page-nav-sublist {
  opacity: 1;
  visibility: visible;
}

.page-nav-sublist:before {
  content: '';
  width: 10px;
  height: 10px;
  background: #000;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.page-nav-sublist:after {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  right: 0;
  height: 10px;
  background: transparent;
}

.page-nav-sublist-link {
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
  font-size: 14px;
}

.page-nav-sublist-link:hover {
  color: var(--color);
}

/* HEADER */

/* MAIN - BANNER */

.main-banner {
  background: linear-gradient(#fff, #ddd)
}

.main-banner .container {
  padding: 0;
}

.banner {
  height: 500px;
  position: relative;
}

.banner-prev,
.banner-next {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100px;
  border: 0;
  background: none;
  font-size: 60px;
  color: var(--color);
  cursor: pointer;
  z-index: 100;
}

@media screen and (max-width: 850px) {
  .banner-prev,
  .banner-next {
    width: 20%;
  }
}

.banner-prev:focus,
.banner-next:focus {
  outline: none;
}

.banner-next {
  left: auto;
  right: 0;
}

.banner-slides {
  background: none;
  height: 100%;
  margin: 0 100px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  .banner-slides {
    margin: 0;
  }
}

/* SLIDES */

.banner-slide {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s all;
}

@media screen and (max-width: 850px) {
  .banner-slide {
    display: flex;
    flex-direction: column;
  }
}

.banner-slide-active {
  z-index: 2;
}

.banner-slide-next {
  transform: translate(100%, 0);
  z-index: 0;
  opacity: 0;
}

.banner-slide-prev {
  transform: translate(-100%, 0);
  z-index: 0;
  opacity: 0;
}

.banner-slide-01-img,
.banner-slide-02-img,
.banner-slide-03-img {
  width: 40%;
  height: 100%;
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 850px) {
  .banner-slide-01-img,
  .banner-slide-02-img,
  .banner-slide-03-img {
    width: 100%;
    height: 500px;
  }
}

.banner-slide-01-img {
  background-image: url(../images/black_chair.png);
}

.banner-slide-02-img {
  background-image: url(../images/red_chair.png);
}

.banner-slide-03-img {
  background-image: url(../images/orange_chair.png);
}


.banner-slide-01-content,
.banner-slide-02-content,
.banner-slide-03-content {
  float: right;
  width: 60%;
  height: 100%;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .banner-slide-01-content,
  .banner-slide-02-content,
  .banner-slide-03-content {
    width: 100%;
  }
}

.banner-slide-title {
  font-size: 42px;
  text-transform: uppercase;
  margin-top: 28%;
  font-weight: 600;
}

@media screen and (max-width: 850px) {
  .banner-slide-title {
    margin-top: 10px;
    font-size: 36px;
  }
}

.banner-slide-title span {
  color: var(--color);
}

.banner-slide-text {
  margin: 35px;
  line-height: 1.5em;
}

.banner-slide-button.btn {
  height: 60px;
  width: 300px;
  font-size: 25px;
  font-weight: 200;
}

.banner-slide-button.btn a {
  text-decoration: none;
  color: #ffffff;
}

/* /SLIDES */

/* /MAIN BANNER */

/* SECTION PRODUCTS */

.products .container {
  padding: 15px 0 50px 0;
}

.products-row {
  height: 250px;
  width: 66.6666%;
}

.products-article {
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  .products-article {
    background-size: contain;
  }
}

.products .col-1-3:nth-child(1) .products-article {
  background-image: url(../images/box1_img.jpg);
  height: 250px;
}

.products .col-1-3:nth-child(2) .products-article {
  background-image: url(../images/box2_img.jpg);
  height: 250px;
}

.products .col-1-3:nth-child(3) .products-article {
  background-color: #fff;
  border: 1px solid #ddd;
}

.products-article-transparency {
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  height: 60px;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 15px;
  transition: 1s all;
}

.products-article:hover .products-article-transparency {
  transform: translate(-100%, 0);
}

@media screen and (max-width: 850px) {
  .products-article:hover .products-article-transparency {
    transform: translate(0, 75px);
  }
}

.products-title {
  font-weight: 600;
  font-size: 16px;
  margin: 15px auto auto 10px;
  position: relative;
}

@media screen and (max-width: 850px) {
  .products-title {
    text-align: center;
  }
}

.products-title:after {
  content: '';
  height: 7px;
  width: 140px;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: var(--color);
}

@media screen and (max-width: 850px) {
  .products-title:after {
    height: 4px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.col-1-3:nth-child(3) .products-title {
  margin: 25px 0 0 20px;
}

.col-1-3:nth-child(3) .products-text {
  font-size: 16px;
  margin: 25px 20px 20px 20px;
}

/* /SECTION PRODUCTS */

/* SECTION PRICE-LIST */

.price-list {
  background-color: rgba(240, 240, 240, 1);
}

.price-list-plan {
  border: 2px solid #bbb;
  height: 520px;
  background-color: rgba(250, 250, 250, 1);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .price-list-plan {
    height: 600px;
  }
}

@media screen and (max-width: 850px) {
  .price-list-plan {
    max-height: 90vh;
  }
}

.col-1-3:nth-of-type(even) .price-list-plan {
  border-color: var(--color);
  background-color: var(--color);
}

.price-list-plan:before {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  top: 0;
  left: 50%;
  background-color: #fff;
  border: 2px solid #bbb;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.col-1-3:nth-of-type(even) .price-list-plan:before {
  background-color: var(--color);
  border-color: var(--color);
}

.price-list-plan:after {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  top: 0;
  left: 50%;
  background-color: #bbb;
  z-index: 101;
  transform: translate(-50%, -50%);
}

.col-1-3:nth-of-type(even) .price-list-plan:after {
  background-color: #fff;
}

.price-list-header {
  text-align: center;
  height: 12%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media screen and (max-height: 500px) {
  .price-list-header {
    height: 24%;
    width: 60%;
  }
}

.price-list-title {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--color);
  line-height: 100%;
  font-weight: 600;
}

.col-1-3:nth-of-type(even) .price-list-title {
  color: #fff;
}

.price-list-price-cont {
  height: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-height: 500px) {
  .price-list-price-cont {
    height: 76%;
    width: 60%;
  }
}

.price-list-price {
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  color: #bbb;
}

.col-1-3:nth-of-type(even) .price-list-price {
  color: var(--color);
}

.price-list-price:before {
  content: "";
  position: absolute;
  display: block;
  height: 130px;
  width: 130px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -25px);
  background-color: #fff;
  border: 2px solid #bbb;
  border-radius: 50%;
}

.price-list-price-value {
  font-size: 50px;
  font-weight: 700;
  position: relative;
  z-index: 1;
}


.price-list-price-value:after {
  content: "99";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(58px, 10px);
  font-size: 14px;
  font-weight: 700;
}

.price-list-price.threeDigit .price-list-price-value:after {
  content: "00";
  transform: translate(75px, 10px);
}

.price-list-price-unit {
  position: relative;
  text-transform: uppercase;
  line-height: 15px;
  line-height: 2em;
  z-index: 1;
}

.price-list-service-cont {
  width: 100%;
  height: 50%;
}

@media screen and (max-height: 500px) {
  .price-list-service-cont {
    width: 40%;
    height: 100%;
  }
}

.price-list-service-list {
  list-style-type: none;
  text-align: center;
}

.price-list-service-list-el {
  font-size: 24px;
  line-height: 44px;
  background-color: rgba(230, 230, 230, 1);
  color: #999;
}

.col-1-3:nth-of-type(even) .price-list-service-list-el {
  background-color: #fff;
}

.price-list-service-list .price-list-service-list-el:nth-child(even) {
  font-size: 24px;
  height: 46px;
  line-height: 46px;
  background-color: rgba(245, 245, 245, 1);
}

.price-list-join-button {
  position: absolute;
  padding: 10px 30px;
  background-color: var(--color);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
}

.col-1-3:nth-of-type(even) .price-list-join-button {
  background-color: #fff;
  color: var(--color);
}

/* /SECTION PRICE-LIST */

/* SECTION CALC */

.calc {
  background: #F9F9F9;
}

.calc-form-options,
.calc-form-summary {
  height: 200px;
}

.calc-form-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calc-form-dropdown-list {
  border: 1px solid var(--color);
  font-size: 22px;
  line-height: 1.5em;
  padding: 5px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.calc-form-dropdown-list-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
  z-index: 1;
  background: #fff;
  border: 1px solid #ccc;
  width: 100%;
}

.calc-form-dropdown-list-panel li:hover {
  background: #eee;
}


.calc-form-dropdown-list-label {
  color: #ccc;
}

.calc-form-dropdown-list-label.list-label-selected {
  color: #000;
}


.calc-form-dropdown-list-arrow {
  display: block;
  border: 12px solid transparent;
  border-top-color: var(--color);
  height: 0px;
  width: 0px;
  margin: 10px 10px 0 0;
}

.calc-form-checkbox {
  margin-top: 20px;
}

.calc-form-checkbox .checkbox {
  font-size: 24px;
}

.calc-form-checkbox .checkbox .checkbox-icon {
  background: #eee;
}

.calc-form-image {
  text-align: center;
}

.calc-form-summary {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 15px;
}

.calc-form-summary-content {
  display: flex;
  flex-grow: 1;
}

.calc-form-summary-left {
  width: 70%;
  border-right: 1px solid #f9f9f9;
}

.calc-form-summary-content-chair,
.calc-form-summary-content-chair-price,
.calc-form-summary-sum-price {
  color: var(--color);
  font-size: 24px;
}

.calc-form-summary-content-chair-options,
.calc-form-summary-content-chair-options-price {
  margin-top: 15px;
  margin-bottom: 15px;
}

.calc-form-summary-content-chair-options li,
.calc-form-summary-content-chair-options-price li {
  line-height: 1.2em;
  font-size: 20px;
}


.calc-form-summary-right {
  flex-grow: 1;
  text-align: right;
}

.calc-form-summary span {
  font-size: 24px;
}

.calc-form-summary-sum {
  width: 100%;
  height: 2.5em;
  border-top: 1px solid #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calc-submitButton {
  width: 80%;
  margin: 25px 30px 0 30px;
  background: #999;
  border: 0;
  border-radius: 10px;
  height: 50px;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  
}

.calc-form-options .inactive {
  border-color: #999;
  background-color: #eee;
}

.btnActive {
  cursor: pointer;
  background: var(--color);
}

.calc-form-checkbox .checkbox .checkbox-icon.checkboxActive {
  background: #fff;
}

/* /SECTION CALC */

/* MAIN - CONTACT */

.main-contact {}

@media screen and (max-width: 1100px) {
  .contact-form {
    max-width: 90%;
    margin: 0 auto;
  }
}


.contact-form-row {
  margin-bottom: 25px;
}

.contact-form-left {
  width: 635px;
  float: left;
}

.contact-form-right {
  width: 345px;
  float: right;
}

@media (max-width: 1100px) {
  .contact-form-left,
  .contact-form-right {
    width: 100%;
  }
}

.contact-form-addon {
  height: 195px;
  background: url(../images/red_chair.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 35px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  padding: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 33px;
  font-weight: 200;
  border: 1px solid var(--color);
  width: 100%;
  transition: 0.4s box-shadow;
}

.contact-form textarea {
  min-height: 190px;
  resize: none;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  box-shadow: inset 0 0 0 1px var(--color);
  outline: none;
}

.contact-form ::-webkit-input-placeholder {
  color: #ccc;
}

.contact-form ::-moz-placeholder {
  color: #ccc;
}

.contact-form :-ms-input-placeholder {
  color: #ccc;
}

.contact-form :-moz-placeholder {
  color: #ccc;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 60px;
  min-height: 48px;
  padding-top: 10px;
  color: #aaa;
  font-size: 18px;
  margin-bottom: 35px;
}

@media (max-width: 1100px) {
  .checkbox {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

.checkbox-input {
  position: absolute;
  left: -999999px;
}

.checkbox-icon {
  width: 50px;
  height: 50px;
  border: 1px solid var(--color);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox-icon:after {
  content: '';
  background: url(../images/form_ok.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 46px;
  height: 46px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: 0.5s all;
}

.checkbox-input:checked+.checkbox-icon:after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.btn {
  font-size: 34px;
  color: #fff;
  background: var(--color);
  padding: 15px;
  text-transform: uppercase;
  border-radius: 10px;
  border: 0;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .form-btn {
    display: block;
    width: 50%;
    margin: auto;
  }
}

/* /MAIN CONTACT */

/* MAIN FOOTER */

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.main-footer-copyright {
  padding-top: 25px;
  color: #aaa;
}

.main-footer-social {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-footer-social ul {
  display: flex;
  flex-direction: row;
}

.main-footer-social ul li {
  margin: 5px;
}

.main-footer-logo {
  text-align: right;
  padding-top: 25px;
}

.main-footer-logo p {
  text-transform: uppercase;
  color: #999;
  font-size: 20px;
}

.main-footer-logo p strong {
  font-weight: bold;
}


/* /MAIN FOOTER */

/* MEDIA */



/* /MEDIA */